@charset "utf-8";
body {
font-family: Arial, 'Lucida Sans Unicode', Helvetica, sans-serif; 
font-size:12px;
font-size-adjust:inherit;
z-index:auto ;
}

.text{
background-color:e3e3e3; border: 1px solid #666666; font-size:10pt; color: #000;
 }


