
	.colored,
	.team-boxes .member-details h5,
	ul.mobile-boxes li div.mobile-icon a,
	ul.mobile-boxes li .buttons span.second-icon,
	footer a:hover,
	.second-nav .nav-menu ul li.active > a,
	.relative-nav .nav a:hover,
	.relative-nav .nav li.active a,
	footer .copyright_link:hover,
	.white-nav .nav-menu ul.dropdown-menu li a:hover,
	.dark-nav .nav-menu ul.dropdown-menu .submenu_column a:hover,
	.navigation ul li a:hover,
	#team.type-2 .team-boxes .member-details .socials a:hover,
	#navigation-type2.dark-nav .nav-menu ul li a:hover,
	#navigation-type2.white-nav .nav-menu ul li a:hover,
	#navigation-type2.white-nav .nav-menu ul li.active a,
	#navigation-type2.dark-nav .nav-menu ul li.active a,
	.content .gray-bg-2 .texts p i,
	ul.moving-items .box:hover span.icon,
	footer.big-footer #latest_tweets ul li a,
	#page-header .page_header_inner a:hover,
	footer.big-footer .footer_bottom a.author_link,
	#shop .single_item_details .right .panel a:hover,
	.post .dates .details ul li a:hover,
	#blog.masonry-blog .item .item_button:hover,
	#shop .box .item_details .price,
	#features-mobile .f-collapse div p a:hover,
	.timelineFlat a.t_line_node.active,
	section#features .feature-boxes.type-3 .feature-box:hover .feature-icon,
	body.dark-layout .feature-boxes.type-3 .feature-box:hover .feature-text h4,
	.feature-boxes.type-3 .feature-box:hover .feature-icon,
	body.dark-layout .feature-boxes.type-3 .feature-box:hover .feature-icon,
	.feature-boxes.type-3 .feature-box:hover .feature-text h4{
		color:#e54343;
	}

	.colored-bg,
	.second-nav .nav-menu ul li:hover:after,
	body.dark-layout .news .box .details a.post_read_more_button:hover,
	.cbp-nav-pagination-active,
	.timeline-item-details .right-buttons a.read_more,
	.timelineFlat .item:before,
	.boxes.boxes-type-2 .box:hover .box-icon a.changeable-icon,
	.boxes.boxes-type-1 .box:hover .box-icon a.changeable-icon:before,
	.cbp-l-filters-alignCenter .cbp-filter-item.cbp-filter-item-active,
	.category-boxes .owl-buttons div:hover,
	.boxes.boxes-type-3 .box-icon a.changeable-icon,
	ul.mobile-boxes li:hover div.mobile-icon a,
	ul.mobile-boxes li .buttons span,
	ul.mobile-boxes li .buttons span.second-icon:hover,
	#pricing-tables .price_boxes .box.active a.price_button,
	#pricing-tables .price_boxes a.price_button:hover,
	.contact .address a.box:hover .button:hover,
	.timelineFlat .item_open .t_close:hover,
	.home_boxes .boxes.white-boxes .box:hover,
	#pageloader.colored .spinner div,
	.home_boxes .boxes.dark-boxes .box:hover,
	.box:hover .box-button,
	.boxes.boxes-type-1 .box:hover .box-icon a.changeable-icon,
	section#features .feature-boxes .feature-box:hover .feature-icon,
	.team-boxes .member-details .member-more:hover,
	.timelineFlat a.t_line_node.active:after,
	#member-modals .modal-dialog a.close:hover,
	.contact .contact_form button,
	.contact .contact_form.type-2 button:hover,
	section.address a.box:hover .texts:before,
	section.address a.box:hover .texts span.arrow:before,
	section.address a.box:hover .texts span.arrow:after,
	.boxes.boxes-type-3 .box:hover .box-icon a.changeable-icon.dark-icon,
	.news .box .details a.post_read_more_button:hover,
	#team.type-2 .team-boxes .member-details .member-more:hover,
	.colored-list li:before,
	#portfolio-items.colored-hover .item,
	.colored-hover .item,
	.load-more-button.circle-button:hover,
	#shop .box .item_image span.more:hover,
	#shop .single_item_details .right a:hover,
	.colored-bg-hover:hover,
	.widget ul.categories li:hover,
	.sidebar .widget a.tag:hover,
	.post .post-inner .post-more:hover,
	.dark-btn:hover,
	.colored-btn,
	.colored-icon,
	.dark-icon:hover,
	.icons-listing div:hover i,
	a.content-button:hover,
	body.dark-layout .contact .contact_form.type-2.white-form button:hover{
		background-color:#f35050;
	}

	::selection{ background-color:#f35050; }

	.colored-border,
	.timelineFlat a.t_line_node.active:after,
	ul.mobile-boxes li div.mobile-icon a,
	.boxes.boxes-type-1 .box:hover .box-icon a.changeable-icon:after,
	.contact *.error_warning,
	#shop .box .item_image span.more:hover:after,
	.sidebar .widget a.tag:hover,
	ul.mobile-boxes li:hover div.mobile-icon a:after,
	.boxes.boxes-type-2 .box-icon a.changeable-icon:after{
		border-color:#e54343 !important;
	}

	section#features .feature-boxes .feature-box:hover .feature-icon:after{
		border-left-color:#f35050;
	}

	.skills .skill .progress .progress-bar:after,
	section.address a.box:hover .texts span.arrow{
		border-top-color:#f35050;
	}

	section.address a.box:hover .texts span.arrow{
		border-bottom-color:#f35050;
	}

	.skills .progress-bar,
	.color-gradient{
		background: #e54343; /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U1NDM0MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmYTZkNmQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(left,  #e54343 0%, #fa6d6d 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,#e54343), color-stop(100%,#fa6d6d)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left,  #e54343 0%,#fa6d6d 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left,  #e54343 0%,#fa6d6d 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left,  #e54343 0%,#fa6d6d 100%); /* IE10+ */
		background: linear-gradient(to right,  #e54343 0%,#fa6d6d 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e54343', endColorstr='#fa6d6d',GradientType=1 ); /* IE6-8 */
	}
